@import "~bootstrap/scss/bootstrap";
@import "custom";

//Color variables
$yellow: #d7a62c;
$orange: #f8841b;
$red: #db332c;
$mauve: #8b2242;
$purple: #2f1d35;

h1 {
  font-size: 60px;
}

.App {
  text-align: center;
}
.top-area {
  background: $purple;
  color: whitesmoke;
  text-align: center;
  margin-bottom: -2px;
}

.shape-divider {
  background: $purple;
  -webkit-clip-path: polygon(0 0, 100% 1%, 100% 75%, 50% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 1%, 100% 75%, 50% 100%, 0 75%);
  height: 100px;
  margin-bottom: 20px;
}

.loading-class {
  text-align: center;
  margin-top: 40px;
}

.quiz-card-title {
  text-transform: capitalize;
}
.quiz-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $orange;
  color: $purple;
}

.question-form {
  text-align: left;
  margin-bottom: 50px;
}

.question-form--title {
  color: $mauve;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.question-form--check {
  padding-bottom: 10px;
  color: $purple;
}

.question-form--submit {
  margin-top: 15px;
}

.question-form--score {
  background-color: $purple;
  color: $orange;
  text-align: right;
  margin-top: 10px;

  display: inline-block;
  padding: 5px 15px;
  border-radius: 10%;
}

.question--form-col {
  text-align: right;
}

.footer {
  background: $purple;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: -10px;
}
