@import '~bootstrap/scss/bootstrap';
@import 'custom';

//Color variables
$yellow: #d7a62c;
$orange: #6b3651;
$red: #db332c;
$mauve: #8b2242;
$purple: #2f1d35;

h1 {
  font-size: 60px;
}

.App {
  text-align: center;
}
.top-area {
  background: $purple;
  color: whitesmoke;
  text-align: center;
  margin-bottom: -2px;
  height: 20vh;
}

.top-area--title {
  margin-top: -40px;
}

.shape-divider {
  background: $purple;
  -webkit-clip-path: polygon(0 0, 100% 1%, 100% 75%, 50% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 1%, 100% 75%, 50% 100%, 0 75%);
  height: 100px;
  margin-bottom: 20px;
}

.loading-class {
  text-align: center;
  margin-top: 40px;
}

.quiz-picker-col {
  text-align: center;
}

.quiz-chooser-card--header {
  background: $purple;
  color: white;
}

.quiz-card-title {
  text-transform: capitalize;
}
.quiz-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: $purple;
}

.question-form {
  text-align: left;
  margin-bottom: 50px;
}

.question-form--title {
  color: $mauve;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.question-form--check {
  padding-bottom: 10px;
  color: $purple;
}

.question-form--submit {
  margin-top: 15px;
}

.question-form--score {
  background-color: $purple;
  color: $orange;
  text-align: right;
  margin-top: 10px;

  display: inline-block;
  padding: 5px 15px;
  border-radius: 10%;
}

.question--form-col {
  text-align: right;
}

.show-answers-span {
  color: $orange;
}

.purple-text {
  color: $purple;
  font-weight: 600;
}

.orange-text {
  color: $orange;
  font-weight: 600;
}

.loading-quiz {
  color: $purple;
  font-weight: 600;
  font-size: 20px;
  margin: 20px;
}

.score-board {
  margin-bottom: 40px;
}

.divider-text {
  margin-top: 15px;
  font-style: italic;
  font-weight: 500;
}

.error-message {
  background: $orange;
  color: white;
  border: 1px solid $red;
  margin: 5px 0;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.remove-answer-text {
  text-align: right;
}

.remove-answer-text a,
.inline-button {
  text-align: right;
  background: none;
  border: none;
  color: $purple;
  font-weight: 600;
  font-size: 12px;
  margin: 2px;
  padding: 2px;
}

.reset-button-area {
  text-align: right;
  margin-right: 10px;
  margin-top: 50px;
}

.remove-answer-text a:hover {
  color: $orange;
  opacity: 0.9;
  cursor: pointer;
}

.add-another-answer {
  float: right;
  margin-bottom: 20px;
}

.select-correct-answer {
  margin-top: 30px;
}

.quiz-chooser-card {
  margin-bottom: 20px;
}

.footer {
  background: $purple;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: -10px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.question-timer {
  width: 100%;
}

.fontawesomeicon {
  margin-right: 10px;
}

.navigation-bar {
  margin-bottom: 25px;
}

.quiz-card {
  background: $purple;
  color: white;
  margin-bottom: 20px;
}

.quiz-card-title {
  font-size: 24px;
  color: white;
}

.btn-white {
  background: white;
  color: $purple;
}

.btn-white:hover {
  background: $orange;
}

.question-box {
  text-align: center;
  background: $purple;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  margin: 3px;
  text-transform: capitalize;
}

.next-question-box {
  text-align: center;
  background: linear-gradient(to right, $orange 50%, $purple 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  margin: 3px;
  text-transform: capitalize;
  transition: all 500ms;
}

.next-question-box:hover {
  background-position: left bottom;
  cursor: pointer;
}

.answer-box,
.revealed-answer-box {
  padding: 10px;
  background: linear-gradient(to right, $orange 50%, $mauve 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: 3px solid white;
  text-transform: capitalize;
  transition: all 500ms;
}

.answer-box:hover {
  background-position: left bottom;
  cursor: pointer;
}

.time-box {
  margin: 3px;
}

.time-progress {
  width: 100%;
  background: white;
  margin-left: -15px;
}
.progress-text {
  margin-top: -20px;
  color: $mauve;
}

.score-tracker {
  background: $mauve;
  color: $white;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 5%;
  position: absolute;
  top: 0;
  right: 10px;
}

.welcome-card {
  border: 1px solid $purple;
}
