//my colors
$yellow: #d7a62c;
$orange: #f8841b;
$red: #db332c;
$mauve: #8b2242;
$purple: #2f1d35;

$theme-colors: (
  "primary": $purple,
  "info": $orange,
  "danger": teal,
  "dark": $purple,
);

.quiz-card-title {
  text-transform: capitalize;
}

@import "~bootstrap/scss/bootstrap";
